@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* CUSTOM APP CSS - RE-BUILD TO UPDATE  */


/* #DIVS  */

    .main {
        @apply max-w-7xl mx-auto py-6 px-4 sm:px-4 md:px-6 lg:px-6 
    }

    .container {
        @apply w-full bg-white rounded-lg shadow-md px-4 py-4 
    }

/* #INPUTS  */

    .input{
        @apply rounded-lg bg-gray-100 border-transparent focus:border-indigo-500 focus:bg-white focus:outline-none text-sm md:text-base
    }
    
    .input-disabled{
        @apply rounded-lg bg-gray-100 border-transparent
    }
    
    .checkbox{
        @apply transition-all duration-200 ease-in-out border-transparent  bg-gray-100 rounded-lg focus:outline-none outline-none appearance-none text-indigo-700 
    }



/* #BUTTONS  */


    .btn-modal-indigo {
        @apply  flex-1 max-w-xs uppercase tracking-wide text-xs h-10 font-bold bg-indigo-500 hover:bg-indigo-700  focus:outline-none text-white  p-2 rounded-lg
    }
    .btn-modal-red {
        @apply  flex-1 max-w-xs uppercase tracking-wide text-xs h-10 font-bold bg-red-500 hover:bg-red-700  focus:outline-none text-white  p-2 rounded-lg
    }
    .btn-modal-gray {
        @apply  flex-1 max-w-xs uppercase tracking-wide text-xs h-10 font-bold  bg-gray-100 hover:bg-gray-500  focus:outline-none text-gray-700 hover:text-white p-2  rounded-lg
    }

    
    

    .btn-table-mobile-indigo {
        @apply  text-center h-8 p-2 w-1/2 mx-auto rounded-lg bg-gray-100 border hover:border-indigo-700 flex-1 uppercase tracking-wide text-gray-500  hover:text-indigo-700 text-xs font-bold align-middle focus:outline-none
    }

    .btn-table-indigo {
        @apply text-center h-8 p-1 rounded-lg bg-gray-100 border hover:border-indigo-700 flex-1 uppercase tracking-wide text-gray-500  hover:text-indigo-700 text-xs font-bold align-middle focus:outline-none
    }

    .btn-table-red {
        @apply text-center h-8 p-1 rounded-lg bg-gray-100 border hover:border-red-700 flex-1 uppercase tracking-wide text-gray-500  hover:text-red-700 text-xs font-bold align-middle focus:outline-none
    }

/* #LISTS  */

    li span {
        position: relative;
        left: -10px;
    }